@charset "utf-8";

* {
    font-family: "ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,Helvetica,sans-serif!important;
}

.title {
    border: 1px solid #aaa;
    padding: 4px;
    margin-bottom: 6px;
}


.title_entry {
    display: inline-block;
    width: 100px;;
}

#data_head {
    font-size: 24px;
}

.spanlink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

/* PC 用 */
@media screen and ( min-width:480px ) {

    .body_text {
        margin: 10px;
    }
    .body_text img {
        border: 1px solid #909090;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    #data_body {
        padding: 10px;
    }

    #data_entry {
        margin-left: 20px;
    }

    #content {
        margin: 26px;
    }

    input {
        width: 400px;
    }
    textarea {
        width: 500px;
        height: 100px;
    }

    #send {
        width: 60px;
    }

    #file {
        width: 240px;
    }
    #upload {
        width: 170px;
    }

}

/* スマホ 用 */
@media screen and ( max-width:479px ) {

    input,textarea {
        width:100%;

    }

    textarea {
        height: 70px;
    }
}

